@media screen and (min-width: 320px) {

}
@media screen and (min-width: 480px) {

}
@media screen and (min-width: 568px) {

}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1280px) {

}
@media screen and (min-width: 1600px) {

}
@media screen and (min-width: 2560px) {

}