




@media screen and (min-width: 320px) {
	/*
	DEFAULT
	*/
	.project_container > div{
		margin-bottom:60px;width:100%;
	}
	.project .project_container img{
		width:auto;
		margin:0 auto;
		max-width: 832px;
		max-height: 433px;
		display:block;
		margin-bottom: 20px;
	}
	.project h1{
		margin-bottom:40px;
		position: relative;
		left: -2px;
	
		line-height: 40px !important;
}
	.project .section{
		padding:0
	}
	#project_description p{
		width:80%;
	}
	#project_info p span{
		font-size:12px;
		color:#b5b5b5;
		display:inline-block;	
	}
	#project_info p span:first-child{
		color:#727477;
		width:95px;
		font-weight:bold;
	}
	#visit_project{
		font-size:12px;
		color:#727477 !important;
		text-transform:uppercase;
		padding-right:20px;
		background:url(../img/project_link.png) right center no-repeat;
		border-bottom: 3px solid #f0f0f0;
		font-weight:bold;
		padding-bottom:5px;
		display:inline-block;
		margin-top:10px;
		display: none;
	}
	#project_navigator{
		float:right;
	}
	#project_navigator ul{
		position:relative;
	}
	#project_navigator ul li{
		width:39px;
		float:left;
		height:36px;
		margin-bottom:0;
	}
	#project_navigator ul li:last-child{
		margin-left:10px;
	}
	#project_navigator ul li a{
		display:block;
		width:100%;
		height:100%;
		border:1px solid #f2f2f2;
	}
	#project_navigator ul li:first-child{
		margin-right:-1px;
	}
	#project_navigator ul li:first-child a{
		border-bottom-left-radius:4px;
		border-top-left-radius:4px;
		-moz-border-bottom-left-radius:4px;
		-moz-border-top-left-radius:4px;
		display: none;
	}
	#prev_project{	
		border-right:1px solid #f2f2f2;
		background:url(../img/project_navigator.png) 10px 12px no-repeat;
	}
	#next_project{	
		background:url(../img/project_navigator.png) 12px -51px no-repeat;	
		border-left:1px solid #f2f2f2;	
		border-bottom-right-radius:4px;
		border-top-right-radius:4px;
		-moz-border-bottom-right-radius:4px;
		-moz-border-top-right-radius:4px;
	}
	#close_project{	
		border-radius:4px;
		-moz-border-radius:4px;
		background:url(../img/x.png) center center no-repeat
	}
	.project_info_description{
	    word-spacing: 1px;
	    line-height: 21px;
	    font-size: 20px;
	    font-weight: 400;
	    padding-bottom: 50px;
	}

}
@media screen and (min-width: 480px) {

}
@media screen and (min-width: 568px) {

}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1280px) {

}
@media screen and (min-width: 1600px) {

}
@media screen and (min-width: 2560px) {

}