@media screen and (min-width: 320px) {
	.endi.text.small {
		/* margin-bottom: 33px; */
		font-family: 'Cinzel','Open Sans', sans-serif;
		color: #666666;
		letter-spacing: 5px;
		word-spacing: 0px;
		text-transform: uppercase;
	}

	.endi.text.big {
		font-family: 'TrajanProBold','Open Sans', sans-serif;
		color: #333333;
		font-size: 52px;
		font-weight: 600;
		word-spacing: -5px;
		margin-top: 16px;
	}

	.endi.text.medium.light {
		font-family: 'TrajanProRegular','Open Sans', sans-serif;
		color: #333333;
		font-size: 30px;
		font-weight: 500;
	}
}
@media screen and (min-width: 480px) {

}
@media screen and (min-width: 568px) {

}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1280px) {

}
@media screen and (min-width: 1600px) {

}
@media screen and (min-width: 2560px) {

}