





.team.mix.all.group.mix_all div a{
	display: inline !important;
	opacity: 1 !important;
}

@media screen and (min-width: 320px) {
	div.team.section{
		  /* margin-top: 100px; */
	}
	div.team.section.collection.group{
		  margin-top: 101px;
	}

	ul.team{

	}
	li.team{

	}
}
@media screen and (min-width: 480px) {

}
@media screen and (min-width: 568px) {

}
@media screen and (min-width: 600px) {

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1280px) {

}
@media screen and (min-width: 1600px) {

}
@media screen and (min-width: 2560px) {

}