@font-face {
    font-family: 'TrajanProBold';
    src: url('fonts/trajanprobold.eot');
    src: url('fonts/trajanprobold.eot') format('embedded-opentype'),
         url('fonts/trajanprobold.woff') format('woff'),
         url('fonts/trajanprobold.ttf') format('truetype'),
         url('fonts/trajanprobold.svg#TrajanProBold') format('svg');
}
@font-face {
    font-family: 'TrajanProRegular';
    src: url('fonts/trajanpro-regular.eot');
    src: url('fonts/trajanpro-regular.eot') format('embedded-opentype'),
         url('fonts/trajanpro-regular.woff') format('woff'),
         url('fonts/trajanpro-regular.ttf') format('truetype'),
         url('fonts/trajanpro-regular.svg#TrajanProRegular') format('svg');
}






ul#contact_info p.phone{
    position: relative;
    top: -11px;
}






div.endi.text.about.one{
    font-family: 'TrajanProBold','Open Sans', sans-serif;  
    color: #333333;
	
    font-size: 52px;
    font-weight: 600;
    word-spacing: -5px;
}
div.endi.text.about.one.second{
    margin-top: 85px;
}
div.endi.text.about.dos{
    font-family: 'TrajanProRegular','Open Sans', sans-serif;  
    color: #333333;
	
    font-size: 30px;
    font-weight: 500;
}


div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip { 
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}