/**
 * TABLE OF CONTENTS:
 *
 * 1.0 - Reset
 * 2.0 - Repeatable Patterns
 * 3.0 - Header
 * 4.0 - Content
 * 5.0 - Sidebar
 *   5.1 - Widgets
 * 6.0 - Footer
 * 7.0 - Comments
 * 8.0 - Featured Content
 * 9.0 - 404 Page
 * 10.0 - Homepage Layouts
 * 11.0 - Media Queries
 * -----------------------------------------------------------------------------
 */

/*
 * 1.0 Reset
 * -----------------------------------------------------------------------------
 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline:none;
}
a, a:hover, a:visited, a:active {outline:none;}
article, aside, figure, footer, header, hgroup, nav, section, details, summary {display: block;}
img,
object,
embed {max-width: 100%;}
html {overflow-y: scroll;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input, select {vertical-align: middle;}
pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
select, input, textarea {font: 99% sans-serif;}
table {font-size: inherit; font: 100%;}
small {font-size: 85%;}
strong {font-weight: bold;}
td, td img {vertical-align: top;}
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
pre, code, kbd, samp {font-family: monospace, sans-serif;}
.clickable,
label, 
input[type=button], 
input[type=submit], 
input[type=file], 
button {cursor: pointer;}
button, input, select, textarea {margin: 0;}
button {width: auto; overflow: visible;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.chromeframe {position: absolute; top: 0;}
body, select, input, textarea {color: #333;}
a {color: #03f;}
a:hover {color: #69f;}
::-moz-selection{background: #000000; color: #fff; text-shadow: none;}
::selection {background: #000000; color: #fff; text-shadow: none;}
ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }
img { vertical-align: bottom; }
blockquote cite{
	display: block;
	margin-top: 10px;
	font-size: 12px;
	font-style: normal;
}

/* Helper Classes */
.wp-caption-text {}
.clearfix:after{
	display:block;
	content:"";
	clear:both;
}
.container_m{
	margin:0 auto;
	width:100%;
	max-width:1280px;
	position:relative;
	padding: 0px 15px;
}
.delimiter{
	width:10px;
	background:url(../img/menuX.png) center center no-repeat;
}
.col{
	overflow:hidden;
	margin-top:0;
	margin-bottom:0;
}
.container_m2{
	margin:0 auto !important;
	width:100%;
	max-width:840px;
}
.section{
	/* border-bottom:1px solid #ececec; */
	position:relative;
}
.has_hover{
	position:relative
}
.work .has_hover{
	width:100%;
	min-height: 188px;
}
.is_hover{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background: rgba(246,249,253,0.84);
	top:0;
	left:0;
	transition:none;
	padding:25px;
	text-decoration:none;
}

.team.is_hover{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(246,249,253,0.95);
	top:0;
	left:0;
	transition:none;
	padding: 60px 25px 25px 25px;
	text-decoration:none;
}

.is_hover .hover_title{
	color:#1a1c1f;
	font-size:16px;
	text-align:left;
	display:block;
	margin-bottom:5px;
}

.team.is_hover .hover_title{
	color:#1a1c1f;
	font-size: 20px;
	text-align: center;
	display:block;
	margin-bottom:5px;
}

.is_hover .hover_description{
	font-size:12px;
	color:#b5b5b5;
	display:block;
	text-align:left;
}
.team.is_hover .hover_description{
	font-size: 15px;
	color:#b5b5b5;
	display:block;
	text-align: center;
}
.has_hover > a:first-child{
	display:block;
}
.fake_action_button{
	position:absolute;
	opacity:0;
	transition:all 0.3s;
	display:block;
	padding:13px 20px;
	border:1px solid #f0f0f0;
	border-radius:5px;
	-moz-border-radius:5px;
	font-family: 'Open Sans', sans-serif;
	color:#727477;
	text-transform:uppercase;
	font-size:10px;
	right:0;
}
.has_fake:hover .fake_action_button{
	opacity:1;
}

/*
 * 2.0 - Repeatable Patterns
 * -----------------------------------------------------------------------------
 */

body {
	font-family: 'TrajanProRegular','Open Sans', sans-serif;
	color: #666666;
	background-color: white;
}
body p {
	line-height: 32px;
	font-size: 16px;
}
body ol{
	list-style-position:inside;
}
h1{font-size:48px;font-weight:bold;line-height: 48px;} 
h2{font-size:22px;color: #727477;font-weight:normal}
h3{font-size:31px; font-weight:normal}
h4{font-size:20px;font-weight:normal}
h5{font-size:16px; font-weight:normal; text-transform:uppercase}
h6{font-size:13px;font-weight:bold;color:#727477;text-transform:uppercase}

blockquote{
	font-size:16px; line-height:22px;
}
ul.ul, ol.ol{
	list-style:none;
}
ul.ul li, ol.ol li{
	text-indent:20px;
}
ul.ul li{
	background:url(../img/ul_style.png) left 8px no-repeat;	
}
ol.ol{
	counter-reset:li;
}
ol.ol > li{
	position:relative;
}
ol.ol > li:before{
	content:counter(li);
	display:block;
	position:absolute;
	left:0;
	top:0px;
	font-size:16px;
	line-height:18px;
	color:#d6d6d6;
	font-family:'Open Sans', sans-serif;
	counter-increment:li;
	text-indent:0px;
}
ul li, ol li{color:#898a8c; font-size:16px; margin-bottom:10px}
label{
	display:block;
	color:#858688;
	font-family:'Open Sans', sans-serif;
	font-size:16px;	
}
a{
	color:#1a1c1f;
	transition:all 0.3s;
	text-decoration:none;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 3%;	
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}


/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.41%;
}
.span_10_of_12 {
  	width: 82.83%;
}

.span_9_of_12 {
  	width: 74.25%;
}

.span_8_of_12 {
  	width: 65.66%;
}

.span_7_of_12 {
  	width: 57.08%;
}

.span_6_of_12 {
  	width: 48.5%;
}

.span_5_of_12 {
  	width: 39.91%;
}

.span_4_of_12 {
  	width: 31.33%;
}

.span_3_of_12 {
  	width: 22.75%;
}

.span_2_of_12 {
  	width: 14.16%;
}

.span_1_of_12 {
  	width: 5.583%;
}

.span_5_of_5 {
	width: 100%;
}

.span_4_of_5 {
  	width: 79.68%; 
}

.span_3_of_5 {
  	width: 59.36%; 
}

.span_2_of_5 {
  	width: 39.04%;
}

.span_1_of_5 {
  	width: 18.72%;
}

/*
 * 3.0 - Header
 * -----------------------------------------------------------------------------
 */
#menuMobileToggle.toggled{
	background:url(../img/close-menu.png) center center no-repeat;
}
nav >div > ul > li{
	margin-bottom:0px;
}
nav >div > ul > li:last-child a{
	padding-right:0px;
}
header, footer{
	width:100%;
	max-width:100%;
}
header{
	/* border-top:3px solid #000; */
	-webkit-box-shadow: 0 0 9px -7px #000;
	box-shadow: 0 0 9px -7px #000;
	background:#ffffff;
	z-index: 100;
	transition: box-shaodw 0.4s;
	-webkit-transition: -webkit-box-shadow 0.4s;
	z-index:101;
	position:relative;
}
#logo{
	display:table-cell;
	font-size:24px;
	font-weight:700;
	margin: 0px;
	padding: 43px 0px 0px 0px;
}
#logo img{
	vertical-align:middle;
	float:left;
}
header nav{
	display:table;
	width:100%;
}
.top-nav{
	display:table-cell;
	vertical-align:middle;
}
.top-nav > li > ul{
	padding:20px;
}
nav ul{
	float:right;
	list-style:none;
	margin-top: 20px;
}
nav ul li{
	float:left;
	height:51px;
	position:relative;
}
nav ul li a{
	display:block;
	font-family: 'TrajanProRegular','Open Sans', sans-serif;
	text-transform:uppercase;
	color: #999999;
	height: 100%;
	line-height:31px;
	padding-left:15px;
	padding-right:15px;
	line-height:50px;
	word-spacing: 0px;
	letter-spacing: 2px;
}
nav >div > ul > li > a, nav > ul > li > a{
	font-size: 14px;
}
nav ul li a:hover,nav ul li a.active{
	color: black;
}
.menu-item-has-children > a{
	background:url(../img/submenu_marker.png) right center no-repeat;
	margin-right:10px;	
}
.menu-item-has-children:hover .sub-menu{
	display:block;
}
.sub-menu{
	display:none;
	background:#f2f2f2;
	position:absolute;
	width:200px;
	z-index: 200;
	top: 51px;
	left: 15px;
	padding:20px 0px;
}
.menu-item-has-children .sub-menu li{
	width:100%;
	display:block;
	height:auto;
}
.menu-item-has-children .sub-menu li a{
	text-align:left;
	font-size:11px;
	color:#727477 !important;
}
.sub-menu li{
	margin-bottom:25px;
}
.sub-menu li:last-child{
	margin-bottom:0;
}
.sub-menu a{
	line-height:13px !important;
	padding:0;
	transition: color 0.3s;
	height: 13px;
}
.menu-item-has-children .sub-menu li a:hover{
	color:#1a1c1f !important;
	background:url(../img/hover_arrow.png) right center no-repeat;
}

nav >div > ul > li{
	background:url(../img/menuX.png) right center no-repeat;
	padding-right:10px;
}
nav >div > ul > li:last-child{
	padding-right:0;
	background:none;
}
.sm{
	background:url(../img/submenu_marker.png) right center no-repeat;
	margin-right:10px;	
}
.has_submenu:hover .l1_submenu{
	display:block;
}
.l1_submenu{
	display:none;
	background:#f2f2f2;
	position:absolute;
	width:200px;
	z-index: 200;
	top: 51px;
	left: 15px;
}
.has_submenu .l1_submenu li a{
	text-align:left;
	font-size:11px;
	color:#727477 !important;
}
.has_submenu .l1_submenu li{
	width:100%;
	display:block;
}
nav a{
	text-decoration:none;
}
.l1_submenu{
	padding:20px;
}
.l1_submenu li{
	margin-bottom:25px;
}
.has_submenu .l1_submenu li{
	height:auto;
}
.l1_submenu li:last-child{
	margin-bottom:0;
}
.l1_submenu a{
	line-height:13px !important;
	padding:0;
	transition: color 0.3s;
	height: 13px;
}
.has_submenu .l1_submenu li a:hover{
	color:#1a1c1f !important;
	background:url(../img/hover_arrow.png) right center no-repeat;
}

/*
 * 4.0 Content
 * -----------------------------------------------------------------------------
 */
.featured_image.featured a{
	display:block;
} 
 .featured_image.featured img{
	margin-bottom:0px !important;
 }
.wp-caption img{ margin-bottom:5px !important}
/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #727477;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
}
:-moz-placeholder {
	color: #727477;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
}
::-moz-placeholder {
	color: #727477;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
	opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
}
:-ms-input-placeholder {
	color: #727477;
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
}
.comment-content img,
.entry-content img,
.entry-summary img,
#site-header img,
.widget img,
.wp-caption {
	max-width: 100%;
	margin-top:10px;
}
.comment-content img[height],
.entry-content img,
.entry-summary img,
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"],
#site-header img {
	height: auto;
}
.comment header{
	background:transparent;
}
img.size-full,
img.size-large,
.wp-post-image,
.post-thumbnail img {
	height: auto;
	max-width: 100%;
}
.gallery {
	float: left;
	margin-bottom: 30px !important;
	width: 100%;
}
.gallery-item {float:left;margin:0 !important;padding:0}
.gallery-columns-1 .gallery-item {width:100%}
.gallery-columns-2 .gallery-item {width:50%}
.gallery-columns-3 .gallery-item {width:33%}
.gallery-columns-4 .gallery-item {width:25%}
.gallery-columns-5 .gallery-item {width:20%}
.gallery-columns-6 .gallery-item {width:18%}
.gallery-columns-7 .gallery-item {width:14%}
.gallery-columns-8 .gallery-item {width:12.5%}
.gallery-columns-9 .gallery-item {width:11.1%}
.gallery-caption {display:none}
.gallery-icon img{margin:0 !important; border:0 !important}
.gallert-item a{
	display:block;
}

.iframeWrapper{
	position:relative;
	padding-bottom:56.25%;
	height:0;
}
.iframeWrapper iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.single_page .iframeWrapper{
	margin-top:20px;
}
.single_page .blog_post > *:not(h1){
	margin-top:20px;
	margin-bottom:40px;
}
/**
 * 6.0 Sidebar
 * -----------------------------------------------------------------------------
 */
 
 /* 6.1 Widgets*/
.widget .children{
	padding-left:10px;
	margin-top:15px;
}
.widget .sub-menu{
	display: block;
	position: relative;
	background: none;
	top: auto;
	left: auto;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	padding-left: 10px;
}
.widget .menu li a{
	padding-right: 15px;
	background: none;
}
.widget .post-date{
	color:#D3D3D3;
	display:block;
	margin-top:2px;
}
/* calendar widget */
.widget_calendar table{ width:100%; }
.widget_calendar thead{ text-align:left; }
#wp-calendar caption { margin-bottom:10px;}
/* recent-comments widget */
.recentcomments { color:#D3D3D3 !important}
#recentcomments li a {line-height: 14px;}
/* search widget */
.widget_search{
	border-bottom:none !important;
}
.screen-reader-text {display:none}
.sidebar > .widget_search:first-child{
	border-bottom: none;
	padding-bottom: 0;
}
.widget_search input[type="text"]{
	border: 1px solid #f2f2f2;
	background: #fafafa url(../img/search.png) right center no-repeat;
	padding: 12px;
	padding: 16px;
	line-height: 18px;
	border-radius: 4px;
	width: 100%;
	font-size: 14px;
	color: #727477;
}
.widget_search input[type='submit']{
	display: none;
}
/* text widget */
.textwidget p { margin-bottom:15px}
/* RSS Widget */
.rssSummary {margin-top:5px;line-height: 14px;}
.rss-date {padding-left:5px;color:#D3D3D3}
.widget_rss cite{
	margin-top:5px;
	display:block;
}
a.rsswidget{
	text-decoration:underline !important;
	line-height: 16px;
}
/*
 * 6.0 - Footer
 * -----------------------------------------------------------------------------
 */ 
footer.section{
	border-bottom:0;
}
.expand_submenu{
	display:none;
}
footer{
	background:#1a1c1f;
	height:100px;
	overflow: hidden;
}
footer p{
	color:#55595f;
	float:left;
	font-size:11px;
	line-height:100px;
	margin-bottom:0;
}
footer p a{
	color:#929599 !important;
}
footer p a:hover{
	color:#c4c7cc !important
}
#footer_social_media{
	float:right;
	list-style:none;
}
#footer_social_media li{
	float:left;
}
#footer_social_media ul{
	height:100px;
}
.social_media{
	margin-bottom:0;
}
.social_media li{
	height:100%;
	margin-left:16px;
	width:32px;
	padding:34px 0px;
}
.social_media li a{
	width:32px;
	height:32px;
	display:block;	
	border:2px solid #303134;
	border-radius:21px;
}
.social_media li a:hover{
	border-color:#ccc;
}
.social_media li a.facebook{
	background:url(../img/facebook.png) center center no-repeat;
}
.social_media li a.twitter{
	background:url(../img/twitter.png) center center no-repeat;
}
.social_media li a.instagram{
	background:url(../img/instagram.png) center center no-repeat;
}
.social_media li a.google{
	background:url(../img/google-plus.png) center center no-repeat;
}
.social_media li a.vimeo{
	background:url(../img/vimeo.png) center center no-repeat;
}
.social_media li a.youtube{
	background:url(../img/youtube.png) center center no-repeat;
}
.social_media li a.tumblr{
	background:url(../img/tumblr.png) center center no-repeat;
}
.social_media li a.pinterest{
	background:url(../img/pinterest.png) center center no-repeat;
}
#contact_f_c .subtitle{
	color:#898a8c;
	font-size:16px;
	margin-bottom:10px;
}
#contact_info{
	width:100%;
	display:block;
	margin-top:60px;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	padding:0;
	list-style:none;
	height:175px;
}
#contact_info > li{
	width:33.2%;
	float:left;
	border-left:1px solid #e5e5e5;
	height:100%;
}
#contact_info > li:first-child{
	border-left:none;
}
#contact_info h5{
	margin-top:40px;
	color:#000;
	/* font-weight:bold; */
	text-transform:uppercase;
	margin-bottom:25px;
	font-size: 20px;
	line-height:13px;
	text-align:center;
}
#contact_info a{
	text-decoration:underline;
	color: #898a8c;
	font-size:16px;
	/* font-weight:bold; */
	display:block;
}
#contact_social .social_media{
	list-style:none;
	width:180px;
	margin:0 auto;
	margin-top:10px;	
	height:auto;
	padding:0;
}
#contact_social .social_media li{
	float:left;
	margin:0;
	width:60px;
	padding:10px 0 0 0;
}
#contact_info a, #contact_info p{
	margin-bottom:10px;
	font-size: 15px;
	text-align: center;
}
#contact_contact, #contact_location{
	text-align:center;
}
#contact_contact p{
	color:#898a8c;
	position: relative;
}
#contact_location p{
	color:#898a8c;
}
#contact_social .social_media li a{
	border:2px solid #ebebeb;
	margin:0 auto;
}
#contact_social .social_media li a:hover{
	border-color:#1a1c1f;
}
#contact_social .social_media li a.facebook{
	background:url(../img/socialDark.png) 10px center no-repeat;
}
#contact_social .social_media li a.twitter{
	background:url(../img/socialDark.png) -40px center no-repeat;
}
#contact_social .social_media li a.instagram{
	background:url(../img/socialDark.png) -90px center no-repeat;
}
.contains_page{
	padding:40px 0px;
}
.contains_page ul{
	margin-bottom:60px;
}
/* styles */
.comment{
	position:relative;
	margin-bottom:60px;
}

/*single blog with sidebar*/
.main_post_container, .sidebar_container{
	width:71%;
	float:left;	
}
.journal_no_sidebar .main_post_container{
	width:100%;
}
.journal_no_sidebar .main_post_container .container_m2{
	float:none;
}
.journal_sidebar_right .main_post_container{	
	border-right:1px solid #efefef;
}
.journal_sidebar_left .main_post_container{	
	border-left:1px solid #efefef;
}
.journal_no_sidebar .main_post_container #main_content{
	margin:0 auto;
	float:none;
}
.sidebar_container{
	width:29%;	
}
.journal_sidebar_right .main_post_container .container_m2{
	float:left;
	margin:0;
}
.journal_sidebar_left .main_post_container .container_m2{
	float:right;
	margin:0;
}
.left_sidebar{
	padding-right:60px;
}
.widget_title{
	color:#1a1c1f;
	margin-bottom:30px;
}
#company_contact_text.isOpened .container_m > p {
	margin-top: 10px;
}
#company_contact_text.isOpened .container_m > p:first-child {
	opacity: 1 !important;

}
#company_contact_text.isOpened .container_m > p:first-child span{
	font-size:0;
	background:transparent url(../img/x.png) center center no-repeat;	
	padding: 21px;
}
#company_title h1{
	color:#727477;
	font-size:32px;
	max-width:750px;
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
}
#company_title{	
	padding-top:58px;
	padding-bottom:65px;
	cursor:pointer;
}
#company_portofolio_text{
	padding:27px 0;
	cursor:pointer;
}
#company_portofolio_text h2{
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	color:#727477;
	text-align:left;
	max-width:750px;
}
#company_contact_text .container_m > p{
	font-size:22px;
	color:#727477;
	text-align:center;
	margin-top: -20px;
	transition:all 0.3s;
}
#company_contact_text .container_m > p:first-child{
	display:block;
	position:relative;
	opacity:0;
	height: 42px;
	margin-bottom:0;
}
#company_contact_text .container_m > p:last-child{
	margin-top:10px;
}
#company_contact_text .container_m > p:first-child span{	
	transition:all 0.3s;
	padding:13px 20px;
	border:1px solid #f0f0f0;
	border-radius:5px;
	-moz-border-radius:5px;
	font-family: 'Open Sans', sans-serif;
	color:#727477;
	text-transform:uppercase;
	font-size:10px;
	margin:0 auto;
	transition:width 0.3s, height 0.3s, font-size 0.3s;
}
#company_contact_text{
	padding:30px;
	cursor:pointer;
	position:relative;
	background:#fafafa;
	height:150px;
}
#company_contact_text:hover .container_m > p:first-child{
	opacity:1 !important;
	margin-top:10px;
}
#company_contact_text:hover .container_m > p{
	margin-top:0;
}
#company_contact_text:hover .container_m > p:last-child{
	margin-top:10px;
}

/* 4. Different Home Layouts */
/* home layout 2 */
#home_index2 .container_m >div{
	margin-top:0;
	margin-bottom:0;
}
#home_index2 #index2_left h5, #home_index2 #index2_left h3{
	text-align:left;
	margin-bottom:25px;
}
#index2_left ul li{
	display:inline-block;
	margin: 0px 20px 0px 0px;
}
#index2_left ul li a{
	font-size: 14px;
	text-decoration: none;
	color: #b3b4b4;
	text-transform: capitalize;
}
#index2_left ul li a:hover{
	color:#1a1c1f;
}
/* home layout 3 */
#home_index3 .container_m >div{
	margin-top:0;
	margin-bottom:0;
}
#home_index3 #index3_left h5, #home_index3 #index3_left h3{
	text-align:left;
	margin-bottom:25px;
}
#index3_left ul li{
	display:inline-block;
	margin: 0px 20px 0px 0px;
}
#index3_left ul li a{
	font-size: 14px;
	text-decoration: none;
	color: #b3b4b4;
	text-transform: capitalize;
}
#index3_left ul li a:hover, #home_about ul li a:hover, .index4 #home_about ul li a:hover{
	color:#1a1c1f;
}
.index3 #company_home_projects_descr p{
	text-align: left;
}
.index3 #company_home_projects_descr .read_more{
	float:left;
	text-align:left;
}
/* home layout 4 */
.index4 #home_about{
	background:#fafafa;
}
.index4 #home_about h5, .index4 #home_about h3, .index4 #home_about ul{
	text-align:left;
}
.index4 #home_about ul li{
	margin: 0px 20px 0px 0px;
}
.index4 #company_home_projects_descr p{
	text-align: left;
}
.index4 #company_home_projects_descr .read_more{
	float:left;
	text-align:left;
}

/* 5. Slider Custom Ctyles*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
#big_slider{
	padding: 0px 20px 20px 20px;
}
.rslides li{
	margin-bottom:0px;
}
.rslides_nav{
	position:absolute;
	z-index:100;
	display:block;
	width:45px;
	height:45px;
	font-size:0px;
	/* display: none; */
}
.prev{left:20px;background:#fff url(../img/slide_prev.jpg) center center no-repeat;transition:all 0.4s}
.next{right:20px;background:#fff url(../img/slide_next.jpg) center center no-repeat;transition:all 0.4s}
.prev:hover{
	background-image:url(../img/slide_prevH.png);
}
.next:hover{
	background-image:url(../img/slide_nextH.png);
}
#big_slider{
	border-bottom:none;
}

/* 6.404 Page */
div#wrapper_footer.a404{
	margin-top:0
}
#wrapper_footer{
	border-top:1px solid #ececec;
	margin-top:80px;
}
#main_content.a404{
	min-height:200px;
	padding-top:80px !important;
	padding-bottom:80px !important;
	z-index:0;
	position:relative;
}
#main_content.a404 h2{
	margin-bottom:35px;
	text-align:center
}
#main_content.a404 p{
	max-width:620px;
	margin:0 auto;	
	margin-bottom:45px;
	text-align:center;
}
#main_content.a404 a{
	display:block;
	position:relative;
	float:none;
	width:220px;
	background:#303234 url(../img/404.png) 175px center no-repeat;
	line-height:50px;	
	text-transform:uppercase;
	color:#fff !important;
	text-align:center;
	text-indent:-30px;
	margin:0 auto;
	text-decoration:none;
	font-weight:bold;
	font-size:13px;
	border-radius:5px;
}

/* 7. Pagination section*/
.pagination{
	text-align:center;
	font-size:0;
}
.pagination li{
	display:inline-block;
	margin-bottom:0px;
	overflow:hidden;
}
.page-numbers.current{
	background:#fafafa;
	cursor:default;
	text-decoration:none;
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
	color:#797d82 !important;
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	margin:0;
	padding:10px 18px;
	display:block;
}
.pagination li a{
	text-decoration:none;
	border-top:1px solid #f0f0f0;
	border-bottom:1px solid #f0f0f0;
	border-right:1px solid #f0f0f0;
	color:#797d82 !important;
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	margin:0;
	padding:10px 18px;
	display:block;
}
.pagination li a:hover{
	background-color:#fafafa;
}
.prev.page-numbers{
	border-left:1px solid #f0f0f0;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	padding-left:32px !important;
	background:url(../img/pagination_normal.png) 14px -25px no-repeat;
}
.next.page-numbers{
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	padding-right:32px !important;
	background:url(../img/pagination_normal.png) 105px 15px no-repeat;
}
.page-numbers.dots{
	cursor:default;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	color: #797d82 !important;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 10px 18px;
	display: block;
	background-color:transparent !important;	
}
ul.page-numbers > li:first-child > *{
	border-left: 1px solid #f0f0f0;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}
ul.page-numbers > li:last-child > *{
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
}

/* 8.Profile page */
.profile .section{
	border:none;
}
.profile p{
	margin-bottom:40px;
}
.profile h1{
	line-height:60px;
	margin-bottom:40px;
}
.profile h5{
	margin-bottom:20px;
	color:#1a1c1f;
}
.profile h6{
	margin-bottom:25px;
	color:#1a1c1f;
}
.profile .section{
	padding-top:0;
}
.section.collection  a.profile_contact{
	text-decoration:underline !important;
}
.profile .team > div p{
	margin-bottom:20px;
}

/* 9.Work page*/
#mixItUp{
	margin-left:-2%;
}
#mixItUp .mix{
    opacity: 0;
    display: none;
	margin-left:2%;
    margin-top: 2%;
}
#controller{
	float:right;
	position: relative;
	bottom: -29px;
}
#filter_projects{
	border:1px solid #f0f0f0;
	border-radius:5px;
	-moz-border-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-moz-border-bottom-right-radius:5px;
	cursor:pointer;
	position:relative;
	transition:all 0.4s;
	margin-right:10px;
	display: none;
}
#filter_projects.clicked{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-color:#e2e2e2;
}
#filter_projects.clicked:after{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg)
}
#filter_projects:after{
	content:"";
	display:block;
	width:4px;
	height:9px;
	position:absolute;
	background:url(../img/filter_rotate.png) 0 0 no-repeat;
	top:14px;
	left:111px;
	transition:all 0.4s;
}
#filter_projects ul{
	position:absolute;
	display:none;
	width:155px;
	border:1px solid #e2e2e2;
	border-top:0;
}
#filter_projects ul li{
	display:block;
	width:100%;
	font-size:11px;
	color:#b5b5b5;
	text-indent:14px;
	line-height:28px;
	margin-bottom:0;
	background:#fff;
	transition:all 0.4s;
}
#filter_projects ul li:hover{
	color: #55585b;
}
#filter_projects ul li.active{
	color:#55585b;
	background:#fafafa;
	cursor:default;
}
#filter_projects p{
	font-size:11px;
	color:#797d82;
	margin-bottom:0;
	text-transform:uppercase;
	padding:13px 30px 13px 13px;
	line-height:11px;
	transition: all 0.4s;
	display: none;
}
#filter_projects p:hover{
	background:#fafafa;
}
.filtering{
	left: -1px;
	border-top: 1px solid #e2e2e2 !important;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	-moz-border-bottom-left-radius:5px;
	-moz-border-bottom-right-radius:5px;
	-moz-border-top-right-radius:5px;
	z-index: 200;
}
#controller > ul, #filter_projects{
	float:left;
}
#controller > ul li{
	height:38px;
	width:36px;
	margin-bottom:0;
}
#controller > ul li a{
	width:100%;
	height:100%;
}
#controller > ul li:hover{
	background-color:#fafafa;
}
#toGrid, #toList{
	border:1px solid #e2e2e2;
	float:left;
	transition:all 0.4s;
	cursor: pointer;
}
#toGrid{
	border-right:none;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	-moz-border-top-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	background:url(../img/grid_list.png) 9px -29px no-repeat;
}
#toList{
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-top-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	background:url(../img/grid_list.png) 8px 9px no-repeat;
}
#toList.active, #toGrid.active{
	background-image:url(../img/grid_listN.png);
	cursor:default;
}
#toList.active:hover, #toGrid.active:hover{
	background-color:transparent;
}
/*list view*/
#mixItUp.toList{
	margin-left:0;
}
#mixItUp.toList > li{
	width:100%;
	margin-bottom:0px;
	border-bottom:1px solid #efefef;
	height:100px;
	margin-left:0%;
}
#mixItUp.toList{
	border-top:1px solid #efefef;
}
.toList .col{
	width:100%;
	height:100%;
	margin:auto;
}
.toList .col > a{
	display: block !important;
	width: 100%;
	visibility: visible;
	opacity: 1;
	height: 100%;
	background: none;
}
.toList .col > a:first-child{
	display:none !important;
}
.toList .is_hover {
	padding:0;
}
.toList .is_hover span{
	font-size:20px;
	margin-bottom:0;
}
.toList .is_hover .hover_title{
	font-weight:bold;
	color:#727477;
	line-height:99px;
	text-align:left;
	float:left;
	padding-right:40px;
}
#mixItUp.toList > li:hover .hover_title{
	background:url(../img/projects_arrow.png) right center no-repeat;
	color:#1a1c1f;
}
.toList .is_hover .hover_description{	
	color:#b5b5b5;
	font-size:12px;
	line-height:99px;
	text-align:right;
	float:right;
}
.work #main_content{
	overflow:hidden;
}

/*grid view*/
.toGrid{
	font-size:0;
}
.toGrid > li{
	width: 31.33%;
	margin: 1% 0 1% 3%;
}

.toGridTeam{
	font-size:0;
}
.toGridTeam > li{
	width: 15.33%;
	margin: 1% 0 1% 3%;
}


.project_container > div{
	margin-bottom:60px;width:100%;
}
.project .project_container img{
	width:auto;
	margin:0 auto;
	max-width: 832px;
	max-height: 433px;
	display:block;
	margin-bottom: 20px;
}
.project h1{
	margin-bottom:40px;
	position: relative;
	left: -2px;
}
.project .section{
	padding:0
}
#project_description p{
	width:80%;
}
#project_info p span{
	font-size:12px;
	color:#b5b5b5;
	display:inline-block;	
}
#project_info p span:first-child{
	color:#727477;
	width:95px;
	font-weight:bold;
}
#visit_project{
	font-size:12px;
	color:#727477 !important;
	text-transform:uppercase;
	padding-right:20px;
	background:url(../img/project_link.png) right center no-repeat;
	border-bottom: 3px solid #f0f0f0;
	font-weight:bold;
	padding-bottom:5px;
	display:inline-block;
	margin-top:10px;
	display: none;
}
#project_navigator{
	float:right;
}
#project_navigator ul{
	position:relative;
}
#project_navigator ul li{
	width:39px;
	float:left;
	height:36px;
	margin-bottom:0;
}
#project_navigator ul li:last-child{
	margin-left:10px;
}
#project_navigator ul li a{
	display:block;
	width:100%;
	height:100%;
	border:1px solid #f2f2f2;
}
#project_navigator ul li:first-child{
	margin-right:-1px;
}
#project_navigator ul li:first-child a{
	border-bottom-left-radius:4px;
	border-top-left-radius:4px;
	-moz-border-bottom-left-radius:4px;
	-moz-border-top-left-radius:4px;
	display: none;
}
#prev_project{	
	border-right:1px solid #f2f2f2;
	background:url(../img/project_navigator.png) 10px 12px no-repeat;
}
#next_project{	
	background:url(../img/project_navigator.png) 12px -51px no-repeat;	
	border-left:1px solid #f2f2f2;	
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;
	-moz-border-bottom-right-radius:4px;
	-moz-border-top-right-radius:4px;
}
#close_project{	
	border-radius:4px;
	-moz-border-radius:4px;
	background:url(../img/x.png) center center no-repeat
}

/* 10.Styles */
#home_about .container_m{
	text-align:center;
}
#home_about h5{
	margin-bottom: 33px;
	font-family: 'Cinzel','Open Sans', sans-serif;  color: #666666;
	letter-spacing: 5px;
	word-spacing: 0px;
	text-transform: uppercase;
}
#home_about h3{
	margin: 28px 0px;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
}
#home_about ul{
	width:100%;
	text-align:center;
}
#home_about ul li{
	display:inline-block;
	margin:10px;
	min-width: 187px;
	min-height: 188px;
}
#home_about ul li a{
	font-size:14px;
	text-decoration:none;
	color:#b3b4b4;
	text-transform: capitalize;
}
#contact_to_be_trigered{
	overflow:hidden;
	background:#fafafa;
	max-height:0;
	transition:max-height 0.5s;
	border-bottom:0px;
	padding:0px;
	transition: all 0.5s;
}
#contact_to_be_trigered > p:first-child{
	margin-top:60px;
}
#contact_to_be_trigered > p{
	color:#898a8c;
	line-height:30px;
	text-align:center;
}
#contact_to_be_trigered.isOpened{
	max-height:2000px;
	transition:all 1s;
	padding-top:50px;
}

#contact_to_be_trigered.isOpened > .container_m  > p{
	text-align:center;
	width: 60%;
	margin: 0 auto;
	line-height:26px;
}
#company_contact_text:after, #company_contact_text:before{
	display:block;
	position:absolute;
	left:50%;
	margin-left:-11px;
	bottom:0;
	display:none;
	z-index:100;
	content:'';
	width: 0; 
	height: 0; 
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;	
	border-top: 11px solid;
	border-top-color:inherit;
	opacity:0;
	display:block;
	visibility:hidden;
	transition:all 0.5s;
}
#company_contact_text.isOpened:after, #company_contact_text.isOpened:before{
	bottom:-11px;
	opacity:1;
	visibility:visible;
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}

#company_contact_text.isOpened:after {
	border-color: rgba(250, 250, 250, 0);
	border-top-color: #fafafa;
	border-width: 11px;
	margin-left: -11px;
}
#company_contact_text.isOpened:before {
	border-color: rgba(229, 229, 229, 0);
	border-top-color: #e5e5e5;
	border-width: 12px;
	margin-left: -12px;
}

.arrow_box {
	position: relative;
	background: #fafafa;
	border: 1px solid #e5e5e5;
}
.arrow_box:after, .arrow_box:before {
	
}


#company_home_portofolio .hgroup{
	padding-bottom:55px;
}
#company_home_portofolio h5{
	float:left;
	margin-bottom:0;
}
#company_home_portofolio h6{
	float:right;
	margin-bottom:0;
}
#company_home_portofolio h6 a{
	text-decoration:none;
	padding-right:30px;
	background:url(../img/projects_arrow.png) center right no-repeat;
	display:block
}
#company_home_portofolio h6 a:hover{
	background-image:url(../img/slide_nextH.png);
	color:#707071;
}
#home_projects_articles p{
	margin-bottom:25px;
	text-align:center;
}
.home_article_date{
	color:#fff;
	font-size:10px;
	font-weight:bold;
	text-transform:capitalize;
	line-height:16px;
}
.home_article_date span{
	background:#cbcccd;
	border-radius:5px;
	-moz-border-radius:5px;
	display:inline-block;
	margin:0 auto;
	padding:5px 10px;
}
.home_article_title{
	font-size:18px;
	color:#1a1c1f;
	font-weight:bold;
}
.home_article_title a{
	text-decoration:none;
}
.home_article_excerpt{
	line-height:26px;
}
.read_more{
	display:block;
	text-decoration:underline;
	text-transform:capitalize;
	color:#1a1c1f;
	margin:0 auto;
	font-size:14px;
	width:80px;
}
div.section{
	padding-top:80px;
	padding-bottom:80px;
}
div#main_content.section{
	padding: 0px 0px 0px 0px;
	border-bottom:none;
	margin: 0px;
}
#main_content > .section:last-child{
	padding-bottom:0;
}
#contact_footer_form_section{
	padding:80px 0px;
	position:relative;
}
.input{
	width:100%;
	display:block;
	margin-bottom:15px;
	float:left;
	padding-left:20px;
	padding-top:12px;
	padding-bottom:12px;
	font-size:16px;
	border:none;
	border-radius:5px;
	border-bottom:1px solid #ebebeb;	
	color:#858688;
	font-family: 'Open Sans', sans-serif;
}
#contact_footer_form_section h2{
	margin-bottom:50px;
	text-align:center;
}
#contact_form{
	width:100%;
	max-width:625px;
	margin:0 auto;
	overflow:hidden;
}
textarea.input{
	resize:none;
	height:190px;
}
.send_message, div.wpcf7 form.wpcf7-form input[type='submit']{
	width:100%;
	background:#303234;
	font-family:'Open Sans', sans-serif;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	text-indent:-30px;
	border:none;
	border-radius:5px;
	padding-top:18px;
	padding-bottom:19px;
	transition:all 0.4s;
}
div.wpcf7 form.wpcf7-form input[type='submit']{
	margin-bottom:0;
	margin-top:30px;
}
.send_message:hover, div.wpcf7 form.wpcf7-form input[type='submit']:hover{
	background-color:#47484a;
}
#page_title_container{
	/* padding-top:60px; */
	/* margin-bottom:60px !important; */
	/* position:relative; */
}
#page_title_container h3{
	text-align:left;
	float:left;
	display: none;
}
.blog_post h1 a{
	text-decoration:none;
}
.blog_post h1{
	margin-bottom:15px;
	text-align:left;
}
.blog_post a{
	text-decoration:none;
}
.blog_info {
	font-size: 13px;
	line-height:16px;
	color:#aeafaf;
	margin-bottom:30px;
	text-align:left;
}
.blog_info  p{	
	text-align:left;
	margin-bottom:30px;
}
.blog_info a{
	color:#aeafaf;
}
.blog_info a:hover{
	color:#1a1c1f;
}
.blog_info_delimiter{
	margin:0 5px;
}
#blog_post img{
	border:1px solid #ebebeb;
	background:#fafafa;
	margin-bottom:40px;
}
.single_blog_post{
	border-bottom:0;
}
blockquote{
	border:1px solid #ebebeb;
	border-radius:5px;
	background:#fafafa url(../img/quote.png) 30px 30px no-repeat;
	padding:28px 78px;
	margin-bottom:40px;	
}
div.ul, div.ol{
	width:50%;
	text-align:left;
	float:left;
	list-style:none;
}
.tags{
	border-top:1px solid #efefef;
	background:url(../img/tags.png) left 15px no-repeat;
	padding:10px 0px;
	padding-left:20px;
}
.tags p{	
	font-size:11px;
	color:#aeafaf;
	margin-bottom:0px !important;
}
#post_nav{
	margin-bottom:50px;
	border-top: 1px solid #efefef;
	border-bottom:1px solid #efefef;	
}
#post_nav .prev_post, #post_nav .next_post{
	width:50%;
	padding:40px 0px;
	float:left;
}
#post_nav .next_post{
	float:right;
}
#post_nav .prev_post a:hover, #post_nav .next_post a:hover{
	color:#707071;
	background-image:url(../img/slide_nextH.png)
}
#post_nav .prev_post a:hover{
	background-image:url(../img/slide_prevH.png)
}
#post_nav .prev_post{
	border-right:1px solid #efefef;
}
#post_nav .prev_post a{
	text-decoration:none;
	display:block;
	text-transform:capitalize;
	font-size:13px;
}
#post_nav .prev_post a{
	padding-left: 30px;
	float:left;
	background:url(../img/slide_prev.jpg) left center no-repeat;
	transition:all 0.4s;
}
#post_nav .next_post a{
	padding-right: 30px;
	float:right;
	background:url(../img/slide_next.jpg) right center no-repeat;	
}
#lists_container{
	margin-bottom:40px;
}
#comments_form h2{
	margin-bottom:10px;
}
#comments_form p{
	font-size:12px;
	color:#898a8c;
}
#main_content .input{
	background:#fafafa;
}
#comments_form #submit{
	width:220px;
	background-image:none;
	text-indent:0;
	float:left;
}
#comments_form{
	margin-bottom:0;
}
#comments_form label{
	display:block;
	color:#858688;
	font-family:'Open Sans', sans-serif;
	margin-bottom:0px;	
	margin-top:20px;
	float:left;
	font-size:14px;
}
#comments_form textarea.input{
	margin-bottom:30px;
}
#comments_section{
	margin-bottom:50px;
	padding-bottom:0;
	padding-top:0;
}
#comments_section > h4{
	margin-bottom:50px;
}
.commentlist  li.comment{	
	margin-bottom:60px;
}
.comment .comment_pic{
	-webkit-box-shadow: 0 0 0 1px #d7d7d7;
	box-shadow: 0 0 0 1px #d7d7d7;
	border-radius:50%;
	width:70px;
	height:70px;
	padding:3px;
	background-color:#fff;
	position:absolute;
	left:0;
	top:0;
}
.comment .comment_body{
	padding-left: 90px;
}
.comment h6{
	margin-bottom:0px;
	padding-top:15px;	
}
.comment h6 a{
	color:#727477;
	display:block;
	float:left;
}
.comment .comment_date{
	font-size:10px;
	color:#97999c;
	margin-bottom:40px;
}
.comment .comment_reply{
	position:absolute;
	right:0;
	top:15px;
	text-transform:uppercase;
	font-size:11px;
	display:block;
	border-radius:4px;
	border:1px solid #ebebeb;
	background:#fafafa;
	padding:4px 11px;
	font-weight:bold;
}
.comment.reply{
	padding-lefT:90px;
}
.comment.reply .comment_pic{
	left:90px;
}
.comment.author h6 a{	
	padding-right:45px;
	background:url(../img/author-comment.png) right 6px no-repeat;
}
.section.single_blog_post_sidebar, .section.collection{
	border-bottom:0;
}

/*single blog with sidebar*/
.main_post_container .container_m2{
	float:left;
	margin:0;
}
.sidebar_container.right_sidebar .sidebar{
	float:right;
	max-width:290px;
	width:100%;
}
.sidebar_container.left_sidebar .sidebar{
	max-width:290px;
	width:100%;
}
.widget{
	padding-bottom:30px;
	border-bottom:1px solid #efefef;
	margin-bottom:45px;
}
.widgettitle{
	color:#1a1c1f;
	margin-bottom:30px;
}
.widget ul li{
	margin-bottom:20px;
	font-size:12px;
	line-height:12px;
}
.widget a{
	text-decoration:none;
	font-size:12px;
	color:#898a8c !important;
}
.widget ul li:last-child{
	margin-bottom:0;
}
.widget .widget_paragraph{
	font-size:12px;
	color:#898a8c;
	margin-bottom:20px;	
}
.widget .widget_paragraph:last-child{
	margin-bottom:0px;
}
.widget .project_link{
	margin-top:20px;
	display:block;
}
.widget #search_button{
	display:none;	
}
.widget.sidebar_search{	
	border-bottom:none;
	padding-bottom:0;
}
.widget.sidebar_search  input[type="text"]{
	border:1px solid #f2f2f2;
	background:#fafafa url(../img/search.png) right center  no-repeat;
	padding:12px;
	padding:16px;
	line-height:18px;
	border-radius:4px;
	width:100%;
	font-size:14px;
	color:#727477;
}
.container_m.group h1{
	color: #333333;
	float:left;
	width:100%;
	font-size: 40px;
}
.section.collection h2{
	font-weight:bold;
}
.section.collection a{
	text-decoration:none !important;
}
.collection .section{
	padding:0;
	margin-bottom:60px;
}
.collection .section h2{
	margin-bottom:15px;
}
.collection .section .blog_info{
	margin-bottom:30px !important;
}
.continue_reading{
	margin-bottom:30px;
	font-size:13px;
	padding-right:33px;
	background:url(../img/projects_arrow.png) right 6px no-repeat;
	display:block;
	float:left;
}
.continue_reading:hover{
	background-image:url(../img/slide_nextH.png);
	color:#707071;
}
.collection .group.section{
	padding-top:0;
}
.journal_no_sidebar{
	margin-bottom:80px;
}


input, textarea{
	transition:all 0.4s;
}
.widget a:hover{
	color:#1a1c1f !important
}
.blog_info_category, .blog_info_comments, .isTag, .blog_info_date{
	color:#aeafaf;
}
.blog_info_category:hover, .blog_info_comments:hover, .isTag:hover{
	color:#1a1c1f
}
#company_home_projects_descr{
	padding-bottom:0;
	border-bottom: none;
}
#home_index2{
	border-bottom:none;
}
.single_blog_post.custom #blog_post h1{
	margin-bottom:50px;
}
.work div.section, .profile div.section{
	padding: 25px 0px 0px 0px;
	border-bottom:none;
}
.work{
	padding-bottom:40px;
}
.section.group.team{
	margin-bottom:0;
}
#menuMobileToggle{
	display:none;
	width:24px;
	height:24px;
	background:url(../img/menu.png) center center no-repeat;
	position:absolute;
	top: 15px;
	right: 30px;
}
.isToggled{
}
.demo h1, .demo h2, .demo h3, .demo h4, .demo h5, .demo h6{
	margin-bottom:20px !important;
}
.ul h5, .ol h5{
	margin-bottom:10px;
}
#contact_to_be_trigered > .container_m > p{
	text-align: center;
	width: 60%;
	margin: 0 auto;
	line-height: 26px;
}
.journal_sidebar div.main_post_container div#main_content{
	padding:0;
}
.wrapper{
	padding-bottom:80px;
	background-color: #fff;
	/* border-bottom:1px solid #ececec; */
	position: relative;
	z-index: 1;
	max-width: 1280px;
	margin: 0 auto;
}
.fbox:not('.galleryCover'){
	display:none;
}

/*along the way*/
.excerpt-read-more{
	display:none;
}
.featured_video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.featured_video iframe ,.featured_video embed{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.featured{
	margin-bottom:35px;
}
blockquote > p:last-child{
	margin-bottom:0;
}
.featured_chat > p{
	padding:12px;
	margin-bottom:0;
}
.featured_chat > p:nth-child(n){
	background:#ebebeb;
}
.featured_chat > p:nth-child(2n){
	background:#fff;
}
p > img{
	margin-top:30px;
}
.wrapper footer{
	border:1px solid #ebebeb;
	border-radius:5px;
	background:#fafafa;
	padding:28px 78px;
	margin-bottom:40px;
	height:auto;
}
.wrapper footer br{display:none}
.alignleft, .alignright, .aligncenter{
	display:block;
	margin-top:10px;
}
.alignleft{
	float:left;
	margin-right:10px;
}
.alignright{
	float:right;
	margin-left:10px;
}
.aligncenter{
	float: none;
	margin: 0 auto;
	left: auto;
	right: auto;
	margin-left: auto;
	margin-right: auto;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 20px
}

.blog_post table {
    margin-bottom: 30px;
}
.blog_post td {
    border: 1px solid #b5b5b5;
    padding: 10px 15px;
    background: #f4f4f4;
}

.blog_post tr:nth-child(odd) td {
    background: #fefefe;
}

.blog_post th,.blog_post tfoot td {
    padding: 10px 15px;
    background: #fff!important;
    border: 1px solid #b5b5b5;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: left;
}
.blog_post tr:hover td {
    background: #fff;
}
.blog_post hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #e7e7e8;
	margin: 1em 0;
	padding: 0;
	margin-bottom:50px;
}

.blog_post ul, .blog_post ol{
	margin-bottom:50px;
	list-style: none;
	position:relative;
}
.blog_post ul li, .blog_post ol li{	
	padding-left:20px;
	margin-bottom:14px;
}
.blog_post ul > li {
	background: url(../img/ul_style.png) 0 7px no-repeat;
}
.blog_post ol{
	counter-reset:li;
}
.blog_post ol li{
	position:relative;
}
.blog_post ol li::before{
	content: counter(li);
	display: block;
	position: absolute;
	left: 0;
	top: 0px;
	font-size: 18px;
	line-height: 20px;
	color: #c6c7c8;
	font-family: 'Open Sans', sans-serif;
	counter-increment: li;
	text-indent: 0px;
}
.blog_post p{
	margin-bottom:25px;
}
.single .post{
	border-bottom:0;
	margin-bottom:40px;
}
.tags p a{
	text-transform:capitalize;
}
#comments_form ol{
	list-style:none;
}
h3#comments{
	font-size: 20px;
	font-weight: normal;
	margin-bottom:50px;
}
header.comment-author{
	border:none;
	box-shadow:none;
	padding-top: 15px;
	font-size: 13px;
	font-weight: bold;
	color: #727477;
	text-transform: uppercase;
}
.comment-author .avatar{
	border: 1px solid #ebebeb;
	background: #fafafa;
	margin-bottom: 40px;
	-webkit-box-shadow: 0 0 0 1px #d7d7d7;
	box-shadow: 0 0 0 1px #d7d7d7;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	padding: 3px;
	position: absolute;
	left: 0;
	top: 0;
}
.comment-author cite{
	padding-left: 90px;
	display:block;
}
.comment-respond{
	float:left;
	width:100%;
	margin-top:30px;
}
.comment-respond code{
	display:none;
}
.comment-reply-title{
	margin-bottom: 30px;
	font-size: 22px;
	color: #727477;
	font-weight: normal;	
}
li.comment{
	float:left;
	width:100%;
}
#comments_form #submit{
	width: 100%;
    background: #303234 url(../img/send_arrow.png) 59% center no-repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	text-indent: -30px;
	border: none;
	border-radius: 5px;
	padding-top: 18px;
	padding-bottom: 19px;
	transition: all 0.4s;
}
.form-allowed-tags{
	display:none;
}
#comments_form #submit:hover{
	background-color: #47484a;
}
#comments_form{
	display: block;
	color: #858688;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
	margin-top: 5px;
	float: left;
	width:100%;
}
#comments_form input, #comments_form textarea{
	background: #fafafa;
	display: block;
    float: left;
    width: 100%;
}
#comments_form textarea{
	margin-bottom: 30px;
	max-width:100%;
}
input, textarea{
	width: 100%;
	display: block;
	padding-left: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	border-bottom: 1px solid #ebebeb;
	color: #858688;
	font-family: 'Open Sans', sans-serif;
	max-width:100%;
}
.comment-reply-link{
	position: absolute;
	right: 0;
	top: 15px;
	text-transform: uppercase;
	font-size: 11px;
	display: block;
	border-radius: 4px;
	border: 1px solid #ebebeb;
	background: #fafafa;
	padding: 4px 11px;
	font-weight: bold;
}
a:hover {
	color: #707071;
}
time a{
	font-size: 10px !important;
	color: #97999c !important;
	margin-bottom: 40px !important;
	padding-left: 90px;
	text-transform:none;
}
.comment_content {
	padding-left:90px;	
	margin-top:30px;
	display:block;
}
.bypostauthor cite.fn{
	padding-right: 45px;
	background: url(../img/author-comment.png) 147px 6px no-repeat;
}
cite.fn, cite.fn a{
	color: #727477;
	display: block;
	font-size: 13px;
	font-weight: bold;
	color: #727477;
	text-transform: uppercase;
	text-decoration:none;
	font-style:normal;
}
#cancel-comment-reply-link{
	font-size: 12px;
	color: #898a8c;
	margin-bottom: 40px;
	float:right;
}
.commentlist .children {
	float: left;
	width: 100%;
	margin-top:60px;
}
.children >li:last-child{
	margin-bottom:0;
}
.depth-2, .depth-3{
	padding-left:45px;
}
.comment-form-comment{
	float: left;
	width: 100%;
}
.slider_information_container{
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
	color:#fff;
}
.slider_information_container > a{
	display:block;
	width:100%;
	height:100%;
	position:absolute;
	z-index:1;
	top:0;
	left:0;
}
.slider_information {
	width:100%;
	height:100%;
	text-align:center;
	margin:0 auto;
	z-index:0;
	position:relative;
	max-width:760px;
}
.slider_information > div{	
	display:table;
	width: 100%;
	height: 100%;
}
.slider_information > div > div{
	display:table-cell;
	vertical-align:middle;
}
.slider_information h1 {
	font-size:72px;
	line-height:72px;
}
.slider_information p {
	font-size:24px;
}
.slide_url{
	display:block;
	width:100%;
	height:100%;
	color:#fff;
}
.index4 #home_about .container_m{
	text-align:left;
}
#home_about p{
	margin-bottom:20px;
}
#home_about *:last-child{
	margin-bottom:0;
}
ul.filtering > li:last-child{
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.wpcf7-form-control-wrap{
	margin-top:10px;
}
div.wpcf7{
	padding: 0 0 80px 0px;
	position: relative;
	width: 100%;
	max-width: 625px;
	margin: 0 auto;
}
div.wpcf7 p{
	font-size:14px;
}
div.wpcf7 p span{
	width:100%;
	display:block;
}
div.wpcf7 p > span{
	margin-bottom:15px;	
}
.wpcf7-form p{
	width:100%;
	position:relative;
}
img.ajax-loader{
	visibility: visible;
	display: inline-block;
	position: absolute;
	bottom:0;
	z-index: 100;
	left: 0;
	margin-bottom: -20px;
	margin-left:0px !important;
}
.wpcf7-validation-errors{
	margin: 0;
	margin-top: 10px;
}
.wpcf7-not-valid-tip{
	font-size:12px !important;
	margin-bottom:0;
}
div.wpcf7-response-output{
	margin:0;
	margin-top:15px;
	padding:0;
}

.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}
#page_title_container.is_search_page h3{
	margin-bottom:5px;
}
#main_content #searchform{
	width:100%;
	max-width:650px;	
}
#main_content #searchform input[type='text']{
	border: 1px solid #f2f2f2;
	background: #fafafa url(../img/search.png) right center no-repeat;
	padding: 16px;
	line-height: 18px;
	border-radius: 4px;
	width: 100%;
	font-size: 14px;
	color: #727477;
	margin-bottom:80px;
}
#main_content #searchform input[type='submit']{
	display:none;
}



@media screen and (max-width: 1560px){
	.journal_sidebar_right .sidebar_container.right_sidebar, .journal_sidebar_left .main_post_container{
		padding-left:5%;
	}
	.journal_sidebar_right .main_post_container, .journal_sidebar_left .sidebar_container.left_sidebar{
		padding-right:5%
	}
	.archive .main_post_container, .journal .main_post_container, .search_page .main_post_container{
		padding:0;
		padding-right:15px;		
	}
	.archive div.main_post_container div#main_content, .journal_sidebar div.main_post_container div#main_content, .search_sidebar div.main_post_container div#main_content, .search_page div#main_content.container_m2, div.main_post_container div#main_content.single_blog_post_sidebar{
		padding:0;
		max-width:100%;
	}
}
@media screen and (max-width: 1400px){
	h3{
		font-size:26px;
	}	
}
@media screen and (max-width: 1350px){
	.container_m{
		padding-left:20px;
		padding-right:20px;
	}
}
@media screen and (max-width: 1280px){	
	#big_slider{
		padding-left:0;
		padding-right:0;
		padding-top:0;
	}
	.prev{
		left:0;
	}
	.next{
		right:0;
	}
}
@media screen and (max-width: 1200px){
	h1{
		font-size:35px;
		line-height:40px !important;
	}
	h3{
		font-size:22px;
	}
	.rslides li{
		margin-left:0;
		left:0;
	}
	.slider_information h1{
		font-size:50px;
		line-height:60px;
	}
}
@media screen and (max-width: 1100px){
	.pagination li a{
		padding:10px 11px;
	}
}
@media screen and (max-width: 1000px){
	h3{
		font-size:20px;
	}
	#index2_left, #index2_right, #index3_left, #index3_right{
		width:100%;
		margin:0;
	}
	#index2_left, #index3_left{
		margin-bottom:30px !important;
	}
	#home_index2 #index2_left h5, #home_index2 #index2_left h3, #home_index2 #index2_left ul{
		text-align:center
	}
}
@media screen and (max-width: 900px){
	.toGrid > li{
		width:48%;
	}
}
@media screen and (max-width: 880px){
	#home_about h3{
		font-size: 25px;
	}
	.profile #main_content > div{
		width:100%;
		margin:0;
	}
	.profile #main_content > div:first-child{
		margin-bottom:40px;
	}
}
@media screen and (max-width: 870px){	
	.main_post_container{
		width:100%;
		padding:0 !important;
		border-left:none !important;
		border-right:none !important;
		margin-bottom:90px !important;
	}
	.sidebar_container{
		width:100% !important;
		padding:0 !important;
	}
	.sidebar_container .sidebar{
		width:100%;
		max-width:100% !important;
		float:left !important;
	}
	.widget{
		width:25%;
		float:left;
		padding-left:10px;
		padding-right:10px;
	}
}
@media screen and (max-width: 850px){
	header nav{
		display:block;
	}
	.sm{
		background-image:none;
	}
	#menuMobileToggle{
		display:block;
	}
	nav > ul{
		display:none;
		width: 100%;
		position: absolute;
		top: 52px;
		z-index: 200;
		background: #fafafa;
		left:0;
	}
	nav ul li{
		width:100%;
		text-indent:20px;
		margin:0;
		border-bottom:1px solid #f4f4f4;
		background-image:none;
		height:auto;
	}
	nav ul li.delimiter{
		display:none;
	}
	.has_submenu{
		background:none;
		margin:0;
	}
	.has_submenu:hover .l1_submenu{
		display:none;
	}
	.l1_submenu{
		position:relative;
		width:100%;
		top: auto;
		left: auto;
		padding:10px 0;
		background:#f4f4f4;
	}
	.l1_submenu li{
		margin-bottom:0;
		padding:0 20px;
	}
	.l1_submenu li a{
		padding:10px 0px;
		height:auto;	
	}
	.has_submenu .l1_submenu li a{
		font-size:14px;
		text-transform:none;
	}
	nav ul li a{
		padding: 10px 0;
		text-indent:0;
		font-size:20px;
	}
	.expand_submenu{
		background:#fff url(../img/plus.png) center center no-repeat;
		width:40px;
		height:40px;
		display:block;
		position:absolute;
		z-index:120;
		padding-left:0;
		right:30px;
		top:15px;
		border:1px solid #e0e0e0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}	
	.expand_submenu:after,.expand_submenu:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}	
	.expand_submenu:after {
		border-color: rgba(255,255,255,0);
		border-top-color: #fff;
		border-width: 5px;
		margin-left: -5px;
	}	
	.expand_submenu:before {
		border-color: rgba(224,224,224,0);
		border-top-color: #e0e0e0;
		border-width: 6px;
		margin-left: -6px;
	}
	div.top-nav a{
		margin-right:0 !important;
		padding-left:30px;
		padding-right:30px !important;
		text-align:right !important;
	}
	div.top-nav > ul > li > a{
		font-size:20px;
	}
	div.top-nav > ul > li{
		background:none;
	}
	nav >div > ul > li{
		padding-right:0;
	}
	.sub-menu li{
		margin-bottom:0;
	}
	.sub-menu a{
		padding-top:10px;
		padding-bottom:10px;
		height:auto;
	}
	#logo{
		line-height:52px;		
	}
	div.top-nav{
		display: none;
		vertical-align: middle;
		position: absolute;
		right: 0;
		background: #fafafa;
		width:100%;
		margin-top: 1px;
	}	
	nav > ul > li{
		background: none;
		margin: 0;		
	}
	nav > ul > li > a{
		font-size: 20px;
		display: block;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;		
		font-weight: bold;
		height: 100%;
		line-height: 50px;
		margin:0;
	}
	.menu-item-has-children > a{
		background:none;
	}
	.sub-menu{
		display: block;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
	}
	.menu-item-has-children .sub-menu li a{
		font-family: 'Open Sans', sans-serif;
		font-weight:bold;
		font-size:14px;
		text-transform:none;
	}
	.menu-item-has-children .sub-menu li a:hover{
		background:none;
	}
	.top-nav > li > ul{
		padding:0px;
	}
	nav >div > ul > li > a, nav > ul > li > a{
		padding-top:0;
		padding-bottom:0;
	}
}
@media screen and (max-width: 820px){
	#project_description{
		width:100%;
		margin-bottom:20px;
	}
	#project_description p{
		width:100%;
	}
	#project_info{
		margin-left:0;
		min-width:250px;
	}
	.project_container > div{
		margin-bottom:80px;
	}
	.project_container img:last-child{
		margin-bottom:0;
	}
}
@media screen and (max-width: 810px){
	#contact_info{
		height:auto;
		padding-bottom:40px;
	}
	#contact_info > li{
		display:block;
		width:100%;
	}
}
@media screen and (max-width: 768px){
	.sidebar_container.right_sidebar .sidebar{
		padding-left:0;
	}
	#home_projects_articles > li{
		display:block;
		width:100%;
		margin:0 auto;
		margin-bottom:40px;
	}
	#home_projects_articles > li:last-child{
		margin-bottom:0;
	}
	#company_contact_text{
		padding-left:0;
		padding-right:0;
	}
	#company_contact_text .container_m > p{
		font-size: 15px;
		line-height: 20px;
	}
	#contact_to_be_trigered.isOpened > .container_m > p{
		width:100%;
	}
	#contact_info > li{
		border-left:none;
	}
	#home_projects_pics li a img{
		width:100%;
	}
	#home_projects_pics li{
		margin-bottom:20px;
	}
	#home_about h3{
		font-size: 20px;
	}
	
	/*sidebar behaviour*/
	.sidebar_container, .main_post_container{
		width:100%;
	}
	.main_post_container{
		border-right:none;
		margin-bottom:40px;
	}
	#main_content{
		margin: 0 auto;
		display: block;
		float: none;
	}
	.sidebar_container.right_sidebar .sidebar{
		margin: 0 auto;
		float: none;
		width: 100%;
		max-width: 100%;
	}
	.pagination li a{
		padding:10px 18px;
	}
	.sidebar_container{
		max-width:500px;
		margin:0 auto;
		float:none;
	}	
	.main_post_container{
		padding-right:0;
	}
	#success p, #faliure p{
		font-size:20px;
		line-height:40px;
	}
	#success, #faliure{
		top:46%;
	}
	.widget{
		width:33%;
	}
	.slider_information h1{
		font-size:24px;
		line-height:30px;
	}
	.slider_information p{
		font-size:16px;
		line-height:22px;
	}
	.slider_information{
		max-width:600px;
	}
}
@media screen and (max-width: 670px){
	.slider_information{
		max-width:500px;
	}
	.pagination li{
		display:none;
	}
	.pagination li:first-child, .pagination li:last-child{
		display:inline-block;
	}
}
@media screen and (max-width: 650px){
	.team > div{
		width:100%;
		margin:0;
		margin-bottom:30px;
	}
	h1{
		font-size:25px;
		line-height:30px !important;
	}
	#page_title_container{
		margin-bottom:30px !important;
	}
	.is_hover{
		padding:10px;
	}
}
@media screen and (max-width: 600px){
	#home_about h3 br{
		display:none;
	}
	#home_about h3{
		font-size:16px;
	}
	#contact_footer_form_section{
		padding-top:40px;
		padding-bottom:40px;
	}
	.rslides_nav{
		width:30px;
		height:30px;
	}	
	.widget{
		width:50%;
	}
}
@media screen and (max-width: 560px){	
	#footer_social_media{
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	#footer_social_media li{
		float: none;
		display: inline-block;
		margin-bottom:0;
	}
	#footer_social_media li:first-child{
		margin-left:0;
	}
	footer{
		height:auto;
	}
	footer p{
		width:100%;
		text-align:center;
		line-height:inherit;
		margin-bottom:20px;
	}
	#lists_container > div{
		width:100%;
	}
	blockquote{
		padding: 28px 10px 10px 10px;
		background:#fafafa url(../img/quote.png) 10px 5px no-repeat
	}
	.comment .comment_pic{
		position:relative;
	}
	.comment .comment_body{
		padding:0;
	}
	.comment.reply .comment_pic{
		left:0
	}
	.comment.reply{
		padding-left:15px;
	}
}
@media screen and (max-width: 500px){
	#wrapper_footer {
		margin-top: 40px;
	}
	.toGrid .mix{
		display:block;
		margin:0;
		margin-bottom:20px;
		width:100%;
	}
	nav >div > ul > li > a{
		text-indent:20px;
	}	
}
@media screen and (max-width: 480px){
	.span_12_of_12 {
		width: 100%; 
	}
	.span_11_of_12 {
		width: 100%; 
	}
	.span_10_of_12 {
		width: 100%; 
	}
	.span_9_of_12 {
		width: 100%; 
	}
	.span_8_of_12 {
		width: 100%; 
	}
	.span_7_of_12 {
		width: 100%; 
	}
	.span_6_of_12 {
		width: 100%; 
	}
	.span_5_of_12 {
		width: 100%; 
	}
	.span_4_of_12 {
		width: 100%; 
	}
	.span_3_of_12 {
		width: 100%; 
	}
	.span_2_of_12 {
		width: 100%; 
	}
	.span_1_of_12 {
		width: 100%;
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.widget{
		width:100%;
		padding-left:10px;
		padding-right:10px;
	}
	.slider_information{
		max-width:240px;
	}
	.slider_information h1 {
		font-size: 19px;
		margin-bottom: 0;
	}
	.slider_information p {
		font-size: 12px;
		line-height: 16px;
	}
}
@media screen and (max-width: 415px){
	#company_home_portofolio .hgroup{
		padding-bottom:30px;
	}
	#company_home_portofolio h6{
		float: left;
		display: block;
		width: 100%;
		margin-top: 20px;
	}
	#company_home_portofolio h6 a{
		width:120px;
	}
}
@media screen and (max-width: 400px){
	#home_about ul li{
		display:block;
	}
	div.section, #home_about{
		padding-top:30px;
		padding-bottom:30px;
	}	
	#mixItUp .mix{
		position:relative;
	}
	.toList .col > a{
		position:relative;
		padding: 20px 0px;
		float:left;
	}
	.toList .is_hover .hover_description{
		line-height:inherit;
		width:100%;
		text-align:left;
	}
	.toList .is_hover .hover_title{
		line-height:inherit;
	}
	.toList > li{
		height:auto;
	}
	.previous_page a{
		padding-left:20px !important;
		padding-right: 10px !important;
		background:url(../img/pagination_normal.png) no-repeat scroll 9px -25px rgba(0, 0, 0, 0)
	}
	.next_page a{
		padding-right:20px !important;
		padding-left: 10px !important;
		background:url(../img/pagination_normal.png) no-repeat scroll 93px 16px rgba(0, 0, 0, 0);
	}
}
.slide_url {
	background:#fff;
	opacity:0;
	filter: alpha(opacity=0);
}