@font-face {
    font-family: 'TrajanProBold';
    src: url('trajanprobold.eot');
    src: url('trajanprobold.eot') format('embedded-opentype'),
         url('trajanprobold.woff') format('woff'),
         url('trajanprobold.ttf') format('truetype'),
         url('trajanprobold.svg#TrajanProBold') format('svg');
}
